body {
    background-image: url("https://i.imgur.com/RGzu6h0.jpg");
}

label {
	font-weight: bold;
}

.table-header{
	font-weight: bold;
}
thead th{
	padding: 0px;
	white-space: nowrap;
	padding-right: 25px;
	
}
